.title {
  display: inline-block;
  padding-left: 0.2rem;
}

.options-text-field {
  width: 90%;
}

.form-group > * {
  width: 100%;
}

.select {
  width: calc(100%);
  margin-top: 0.5rem;
}

.form-group > * {
  width: 100%;
  margin-bottom: 1rem;
}

html, p {
  cursor: default;
}

a {
  text-decoration: none;
}

.icon-btn:hover {
  color: #006bcd;
}

.MuiSelect-select:focus {
  background-color: none;
  background: none;
}

.form-control {
  width: 100%;
}

.text-field {
  width: 100%;
}
